<!DOCTYPE html>
<html>
<head>
  <title>Reader</title>
  <style>
    html, body {
      width: 100%;
      height: 100%;
    }
    #sketch {
      height: 200px;
      width: 200px;
      border: 1px dashed black;
      position: relative;
    }
    #paint {
      cursor: crosshair;
    }
    #output {
      position: relative;
    }
    #correct {
      color : green;
    }
    #incorrect {
      color: red;
    }
  </style>
 </head>
<body>
  <h1>Sklearn Reading Example</h1>
  <button onclick="refresh()">Refresh</button>
  <div id="sketch">
    <canvas id="paint"></canvas>
  </div>
  <button onclick="canvasToReducedVector()">Identify</button>
  Target: <input type='text' id='target'/>
  <h3 id='result'></h3>
  <script src="{{ url_for('static', filename='scripts/drawing_pad.js') }}"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='scripts/resize_image.js') }}"></script>
</body>
</html>